.plcju { 
  padding-left: 90px;
  border-top-width: 64px;
  margin-top: 3px;
  padding-right: 61px;
  padding-bottom: 34px;
  padding-right: 51px;
  margin-top: 85px;
  padding-top: 68px;
  border-right-width: 67px;
  padding-bottom: 83px;
  padding-left: 50px;
  padding-bottom: 89px;
  border-left-width: 54px;
  border-right-width: 74px;
  padding-bottom: 39px;
  border-left-width: 43px;
  border-left-width: 20px;
  border-top-width: 11px;
  padding-left: 24px;
  border-top-width: 60px;
  margin-top: 31px;
  padding-bottom: 84px;
  padding-bottom: 64px;
  border-bottom-width: 20px;
  border-left-width: 68px;
  margin-right: 44px;
  padding-top: 32px;
  padding-right: 57px;
  border-top-width: 89px;
  border-left-width: 11px;
  font-size: 73px;
  margin-bottom: 26px;
  margin-top: 96px;
  border-left-width: 94px;
  padding-top: 95px;
  padding-top: 26px;
  line-height: 53px;
  padding-top: 93px;
  padding-bottom: 1px;
  border-top-width: 74px;
  margin-top: 85px;
  margin-right: 70px;
  border-right-width: 1px;
  margin-bottom: 24px;
  border-top-width: 48px;
  margin-left: 11px;
  padding-bottom: 80px;
  margin-left: 46px;
  border-top-width: 79px;
  padding-top: 9px;
  border-top-width: 0px;
  border-right-width: 7px;
  border-top-width: 46px;
  border-left-width: 58px;
  border-top-width: 46px;
  padding-top: 52px;
  margin-top: 90px;
  border-bottom-width: 89px;
  border-top-width: 14px;
  line-height: 45px;
  border-left-width: 69px;
  line-height: 54px;
  border-top-width: 52px;
  border-bottom-width: 12px;
  padding-left: 69px;
  line-height: 5px;
  border-right-width: 78px;
  margin-left: 9px;
  margin-left: 63px;
  border-top-width: 50px;
  padding-top: 80px;
  padding-right: 0px;
  padding-top: 29px;
  border-bottom-width: 23px;
  border-bottom-width: 7px;
  padding-bottom: 43px;
  border-right-width: 86px;
  font-size: 0px;
  padding-right: 35px;
  padding-top: 47px;
  margin-bottom: 29px;
  margin-top: 50px;
  margin-bottom: 4px;
  margin-top: 57px;
  margin-right: 91px;
  border-right-width: 47px;
  border-bottom-width: 99px;
  border-bottom-width: 97px;
  margin-right: 5px;
  border-left-width: 87px;
  padding-right: 4px;
  margin-left: 38px;
  padding-top: 50px;
  font-size: 95px;
  border-right-width: 9px;
  border-left-width: 37px;
  padding-right: 61px;
  line-height: 90px;
  line-height: 56px;
  border-right-width: 39px;
  line-height: 33px;
  border-bottom-width: 4px;
  margin-top: 12px;
  margin-top: 52px;
  padding-top: 55px;
  margin-left: 2px;
  border-right-width: 93px;
  line-height: 3px;
  padding-top: 37px;
  margin-right: 40px;
  margin-top: 7px;
  border-left-width: 39px;
  border-left-width: 69px;
  border-left-width: 75px;
  margin-right: 56px;
  border-bottom-width: 16px;
  font-size: 53px;
  padding-left: 37px;
  padding-left: 55px;
  font-size: 25px;
  line-height: 10px;
  border-right-width: 34px;
  border-right-width: 1px;
  padding-right: 80px;
  margin-bottom: 77px;
  border-top-width: 27px;
  padding-bottom: 41px;
  padding-left: 18px;
  margin-top: 48px;
  border-left-width: 59px;
  border-left-width: 45px;
  margin-right: 85px;
  margin-right: 95px;
  padding-left: 19px;
  padding-bottom: 59px;
  padding-left: 1px;
  padding-right: 75px;
  margin-top: 53px;
  padding-bottom: 9px;
  border-top-width: 61px;
  padding-right: 76px;
  border-bottom-width: 57px;
  padding-right: 12px;
  padding-left: 70px;
  border-top-width: 50px;
  padding-bottom: 21px;
  margin-left: 40px;
  padding-bottom: 75px;
  padding-left: 10px;
  padding-top: 51px;
  border-top-width: 26px;
  border-left-width: 67px;
  padding-right: 97px;
  margin-right: 54px;
  margin-top: 38px;
  margin-left: 0px;
  margin-right: 64px;
  line-height: 57px;
  line-height: 18px;
  padding-right: 21px;
  line-height: 76px;
  border-right-width: 87px;
  margin-left: 48px;
  padding-right: 2px;
  padding-top: 17px;
  border-top-width: 85px;
  padding-top: 56px;
  border-left-width: 66px;
  padding-left: 45px;
  line-height: 46px;
  margin-bottom: 20px;
  padding-top: 42px;
  font-size: 11px;
  padding-bottom: 89px;
  line-height: 67px;
  padding-top: 72px;
  border-bottom-width: 43px;
  font-size: 69px;
  border-left-width: 25px;
  border-bottom-width: 15px;
  line-height: 3px;
  padding-right: 11px;
  margin-bottom: 46px;
  margin-bottom: 11px;
  margin-left: 36px;
  margin-right: 22px;
  border-top-width: 80px;
  line-height: 37px;
  padding-top: 36px;
  border-top-width: 32px;
  margin-left: 56px;
  border-top-width: 23px;
  margin-left: 84px;
  border-right-width: 16px;
  font-size: 17px;
  padding-left: 17px;
  font-size: 68px;
  border-bottom-width: 69px;
  border-top-width: 96px;
  margin-bottom: 79px;
  padding-bottom: 64px;
  margin-right: 27px;
  line-height: 82px;
  margin-top: 52px;
  padding-left: 43px;
  font-size: 96px;
  margin-top: 86px;
  padding-left: 95px;
  padding-bottom: 11px;
  line-height: 85px;
  border-top-width: 75px;
  margin-top: 26px;
  border-bottom-width: 67px;
  line-height: 85px;
  line-height: 45px;
  border-bottom-width: 56px;
  padding-left: 62px;
  margin-bottom: 11px;
  margin-right: 42px;
  margin-bottom: 23px;
  border-bottom-width: 76px;
  margin-right: 22px;
  margin-top: 55px;
  padding-left: 87px;
  padding-bottom: 52px;
  margin-left: 60px;
  border-left-width: 95px;
  padding-right: 35px;
  padding-right: 9px;
  border-left-width: 34px;
  margin-left: 28px;
  padding-top: 35px;
  margin-top: 33px;
  padding-top: 61px;
  padding-bottom: 15px;
  padding-top: 71px;
  margin-top: 34px;
  padding-right: 39px;
  line-height: 88px;
  padding-left: 4px;
  line-height: 35px;
  padding-bottom: 97px;
  padding-left: 46px;
  border-left-width: 35px;
  border-top-width: 17px;
  margin-left: 86px;
  margin-left: 72px;
  padding-bottom: 78px;
  border-top-width: 54px;
  font-size: 36px;
  margin-bottom: 74px;
  margin-left: 99px;
  line-height: 17px;
  margin-bottom: 19px;
  padding-right: 74px;
  border-left-width: 24px;
  border-left-width: 32px;
  padding-left: 8px;
  font-size: 15px;
  border-left-width: 36px;
  margin-top: 78px;
  border-top-width: 41px;
  padding-right: 12px;
  padding-bottom: 31px;
  font-size: 59px;
  padding-bottom: 45px;
  border-left-width: 78px;
  margin-right: 46px;
  padding-top: 69px;
  border-left-width: 92px;
  font-size: 85px;
  border-top-width: 96px;
  padding-right: 67px;
  padding-left: 14px;
  border-bottom-width: 30px;
  padding-bottom: 28px;
  padding-top: 81px;
  font-size: 88px;
  padding-right: 67px;
  margin-left: 42px;
  padding-top: 23px;
  border-right-width: 43px;
  margin-left: 39px;
  border-right-width: 11px;
  margin-top: 70px;
  margin-top: 2px;
  border-left-width: 56px;
  padding-left: 55px;
  border-bottom-width: 36px;
  padding-top: 16px;
  margin-bottom: 0px;
  margin-left: 43px;
  margin-left: 8px;
  margin-right: 24px;
  margin-top: 76px;
  margin-top: 88px;
  margin-right: 79px;
  padding-top: 65px;
  padding-bottom: 42px;
  margin-top: 22px;
  margin-right: 86px;
  padding-bottom: 13px;
  padding-left: 18px;
  padding-top: 20px;
  border-bottom-width: 33px;
  padding-bottom: 28px;
  margin-left: 54px;
  border-top-width: 5px;
  padding-left: 90px;
  padding-right: 82px;
  border-bottom-width: 48px;
  border-right-width: 77px;
  margin-bottom: 88px;
  margin-bottom: 61px;
  padding-bottom: 10px;
}
