.jbwku { 
  border-right-width: 95px;
  border-top-width: 62px;
  line-height: 27px;
  margin-top: 69px;
  border-bottom-width: 2px;
  border-bottom-width: 24px;
  border-left-width: 98px;
  line-height: 79px;
  padding-bottom: 64px;
  line-height: 57px;
  margin-right: 73px;
  border-bottom-width: 11px;
  border-right-width: 25px;
  border-left-width: 28px;
  line-height: 75px;
  padding-left: 95px;
  padding-bottom: 44px;
  line-height: 86px;
  padding-left: 52px;
  font-size: 33px;
  font-size: 63px;
  border-top-width: 18px;
  padding-left: 74px;
  margin-left: 91px;
  margin-top: 11px;
  padding-bottom: 76px;
  padding-right: 14px;
  margin-right: 73px;
  margin-bottom: 41px;
  padding-bottom: 77px;
  padding-top: 75px;
  line-height: 17px;
  border-left-width: 62px;
  border-left-width: 19px;
  padding-right: 81px;
  border-top-width: 25px;
  margin-top: 16px;
  border-left-width: 39px;
  border-left-width: 32px;
  border-top-width: 69px;
  border-top-width: 0px;
  border-bottom-width: 90px;
  padding-right: 13px;
}
